@page
@{
}
<div>
    <div class="text-center">
        <h1 class="display-4">About Sin-Sense</h1>
    </div>
    <div class="card" style="margin:10px">
        <div class="card-body">
            <h5 class="card-title">What is Word Sense Disambiguation (WSD)</h5>
            Let's take two sentences
            <ul>
                <li>මුව රංචුව කැලයට වැදුනි.</li>
                <li>ඇය තම මුව අත්ලෙන් වසා ගත්තාය.</li>
            </ul>
            in these sentences the word "මුව" has too meanings "deer" and "mouth" respectively. WSD is essentially
            a way for a computer to understand the intended meaning/sense of the word in a given context.
        </div>
    </div>
    <div class="card" style="margin:10px">
        <div class="card-body">
            <h5 class="card-title">How does it works ?</h5>
            Sin-Sense uses crosslingual approach to WSD with the support of babelfy (an English WSD service) because the less
            resource availability for sinhala language
            <ul>
                <li><b>Step 1</b> : The input is translated and sent to babelfy for disambiguation <br /></li>
                <li><b>Step 2</b> : The Sentence is tokenized and all words are turned to their lemmas (ie අම්මාගේ -> අම්මා) <br /></li>
                <li><b>Step 3</b> : After the senses are retrived all the English words are also tokenized and lemmatizes and their respective senses are mapped to the word <br /></li>
                <li><b>Step 4</b> : All the english words related to each sinhala word are taken <br /></li>
                <li><b>Step 5</b> : Senses from the babelfy are mapped according to the words related to each sinhala word <br /></li>
            </ul>
        </div>
    </div>
    <div class="card" style="margin:10px">
        <div class="card-body">
            <h5 class="card-title">Identified Limitations</h5>
            <ul>
                <li>
                    If there is two words with same english word in their dictionary entries both words will assume the english words sense.
                </li>
                <li>
                    If there are two english words which matches with one sinhala word first english words is identified as the mapping word which is not always correct.
                </li>
                <li>
                    All the word's will not get disambiguated. Theoretically this has better vocabulary than exsisting WSD research for Sinhala :P
                </li>
            </ul>
        </div>
    </div>
    <div class="card" style="margin:10px">
        <div class="card-body">
            <h5 class="card-title">Future enhancements</h5>
            <ul>
                <li>
                    At the moment the POS of words are not considerd because of data set limitations. This will be the next important step to enhance the accuaracy of word mapper.
                </li>
                <li>
                    The dictionary source need to be updated
                </li>
                <li>
                    Dependancy on Google translate and Babelfy need to be removed, Maybe get thier permission to use the dataset.
                </li>
            </ul>
        </div>
    </div>
</div>