@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome to Sin-Sense</h1>
        <h2 class="display-6">A Sinhala NLP service focused on Sinhala Word Sense Disambiguation and other NLP tools</h2>
    </div>
    <div>
        <br/>
        <h3> Available Tools</h3>
        <dlv class="row" style="padding-bottom:10px">
            <div class="col-md">
                <div class="card">
                    <div class="card-body h-100">
                        <h5 class="card-title text-center">Sinhala WSD</h5>
                        <p class="card-text">This tool can be used to dismbiguate Sinhala Nouns in a sentence</p>
                        <a asp-page="/Sense/Index" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sinhala English Dictionary</h5>
                        <p class="card-text">Coming Soon</p>
                        <!--<a asp-page="/Dictionary/Index" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
            </div>
        </dlv>
        <dlv class="row" style="padding-bottom:10px">
            <div class="col-md">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sinhala Morphological Analyzer</h5>
                        <p class="card-text">Coming Soon</p>
                        <!--<a asp-page="/Dictionary/Index" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center">SiEn Translator</h5>
                        <p class="card-text">Coming Soon</p>
                        <!--<a asp-page="/Dictionary/Index" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
            </div>
        </dlv>
    </div>
</div>