@page
@model IndexModel
@{
}
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Sinhala English Dictionary</h1>
        <p>Wanna find english words fr a sinhala or vice versa :)</p>
    </div>
    <div>
        <form method="post">
            <div class="form-group">
                <input name="dictionary" type="text" class="form-control" id="translate_input" aria-describedby="translate_input_help" placeholder="Don't leave me empty :(">
                <small id="translate_input_help" class="form-text text-muted">Enter the word</small>
            </div>
            <button type="submit" class="btn btn-primary">Do the magic :)</button>
        </form>
    </div>
    @if(!string.IsNullOrWhiteSpace(Model.word))
    {
        <div>
        <h1 class="display-5">Results</h1>
        <h1 class="display-6">@Model.word</h1>
        @foreach(var resultWord in Model.words)
        {
            <p>@resultWord</p>
        }
    </div>
    }
    
</div>