@page
@model IndexModel
@{
}

<div class="text-center">
    <h2 class="display-4"> Sin-Sense API </h2>
    <h2 class="display-5"> All Sinhala NLP tools under one roof as an easy to use API</h2>
    <p>
        Coming Soon :) <br/> Definetly after my FYP is over I promise ;)
    </p>
</div>